body {
    font-family: "zurich", sans-serif;
    background-color: white;
}
.container {
    background-color: white;
}
.logo {
    width: 100%;
}
.info {
    height: 50%;
    font-variant: small-caps;
    border-right: 1px solid black;
}
.cardbackoffice {
    box-sizing: border-box;
    width: 190px;
    height: 254px;
    border: 1px solid white;
    box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
    backdrop-filter: blur(6px);
    border-radius: 17px;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    font-weight: bolder;
}

.card:hover {
    border: 1px solid black;
    transform: scale(1.05);
}

.card:active {
    transform: scale(0.95) rotateZ(1.7deg);
}
.info svg {
    width: 10%;
    display: inline;
}
.imgresturant img {
    width: 50%;
}
.navbar {
    letter-spacing: 0.5rem;
    border-bottom: 1px solid black;
    background-color: white;
}
.buttonsbackoffice {
    font-variant: small-caps;
}
.btn {
    font-size: 17px;
    background: transparent;
    border: none;
    padding: 1em 1.5em;
    color: #ffedd3;
    text-transform: uppercase;
    position: relative;
    transition: 0.5s ease;
}

.btn::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0;
    background-color: #ffc506;
    transition: 0.5s ease;
}

.btn:hover {
    color: #1e1e2b;
    transition-delay: 0.5s;
}

.btn:hover::before {
    width: 100%;
}

.btn::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 0;
    width: 100%;
    background-color: #ffc506;
    transition: 0.4s ease;
    z-index: -1;
}

.btn:hover::after {
    height: 100%;
    transition-delay: 0.4s;
    color: aliceblue;
}
.resturant {
    font-size: 2rem;
    font-weight: bolder;
}
